* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    text-align: center;
    background-color: rosybrown;
    color: antiquewhite;
}

main #myForm {
    padding: 10px;
    text-align: center;
    background-color: lightsalmon;
    color: antiquewhite;
    font-weight: 700;

}